.section-myprojects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-background);
    padding-bottom: 100px;
}

.slider{
    display: flex;
    gap: 1rem;
}
