
.banner{
    background: linear-gradient(var(--color-dark), rgba(0, 0, 0, 0.905));
    height: 100vh;
    color: white;
    justify-content: space-around;
}

h1{
    color: var(--color-primary);
}


.welcome{
   max-width: 500px;
}

.welcome p{
    font-size: 1.4rem;
}

.welcome button{
    border-radius: 100px;
    width: 200px;
    margin-top: 0.8rem;
    background: none;
    border: 1px solid var(--color-light);
    padding: 0.3rem;
    color: var(--color-light);
    font-weight: 500;
}

.welcome button a{
    text-decoration: none;
    color: var(--color-light); 
}

.welcome button a:active{
    color: var(--color-light); 
}

@media screen  and (max-width: 900px){
 
    .banner{
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }
    .welcome{
        text-align: center;
        width: 100%;
    }

    .welcome p{
        font-size: 1.2rem;
    }

    .logo-banner{
        margin-top: 200px;
    }

    .welcome button{
        width: 100%;
        height: 50px;
    }
}