.section-mystack{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-background);
}

.sub-container{
    display: flex;
}

.box-text{
    width: 50%;
}

.arrow-nav{
    border-radius: 50%;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    font-size: 1.6rem;
    margin: 1.5rem;
}

#arrow-left{
   
}
#arrow-rigth{
    transform: rotate(180deg);
}

.slider{
    display: flex;
    align-items: center;
}

.stack-slider{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 300px;
}

.stack-description{
    width: 40%;
}


