@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #30C8A8;
  --color-light: #FAFAFA;
  --color-dark: #1B2628;
  --color-background:  #0B1619;
}

body{
  font-family: 'Dosis', sans-serif;
  background-color: var(--color-background);
  color: var(--color-light);
}

section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  margin: 0;
}
